* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-color: white;
    background-image: url('../Recursos/fondo.png');    
    background-repeat: no-repeat;
    background-size: cover;
}

/* ESTILOS LOGIN */
section#login, section#registro {
    width: 50%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 25%;
    padding: 5%;    
}

section#login img, section#registro img {
    width: 20%;
    position: absolute;
    top: -10%;
    left: 40%;
}

div#menuImg {
    height: 150px;
    background: #591876;
    background-image: url('../Recursos/menu.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div#cursos div.curso {
    
}

.theme {
    background-color: #591876;
}

p.title {
    font-size: 1.8em;
    text-align: center;
    margin-top: 4%;
}

hr#title {
    width: 40%;
    margin: auto;
    height: 2px;
    border: none;
    background: #591876;
    border-radius: 5px;
}

hr.separador {
    width: 100%;
    height: 2px;
    border: none;
    background: #9e9e9e;
    border-radius: 5px;
}

div.card {
    width: 90%;
    margin-left: auto;
    padding: 5%;
}

div.containertT {
    width: 94%;
    margin: 0;
}

div.card div.linea {
    width: 0.3em;
    float: left;
    background: #591876;
    margin-right: 5%;
}

div.card div.content {
    display: inline-block;
    width: 95%;
}

p.texto{
    padding: 3%;
    margin: auto;
}

p.subtitle {
    margin-left: 5%;
    font-size: 1.2em;
}

hr.subtitle {
    margin-left: 5%;
    width: 60%;
    height: 2px;
    border: none;
    background: #591876;
    border-radius: 5px;
}

label {
    font-size: 0.8em;
    color: #591876;
}

section#blog {
    width: 100%;
    background-color: transparent;
    margin-top: 5%;
}

section.post {
    width: 45%;
    min-height: 250px;
    background-color: #591876;
    display: inline-block;
    margin-right: 2%;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;    
}

.blog {
    width: 100%;
    min-height: 100px;
    background: white;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

div#imagen {
    width: 100%;
    height: 200px;        
    background: #591876;  
}

p.contenido {
    text-align: justify;
    width: 95%;
    margin: auto;
}

.blog b {
    font-size: 1.1em;
}

div#testimonios {
    width: 90%;
    margin: auto;
    background: transparent;
    height: 90%;
}

p.text {
    width: 90%;
    margin: auto;
}

div.testim {
    padding: 2%;
    width: 95%;
    float: right;    
    margin: 0.2%;
    border-radius: 5px; 
    background: transparent;   
    border-bottom: 1px solid #9e9e9e;
}

img.icono {
    width: 10%;
    background: transparent;
    display: inline-block;
}

div.testim p {
    width: 85%;
    float: right;
}

textarea#testimonioText {
    width: 80%;
    margin-left: 4%;
    display: inline-block;
}

a#btn {
    margin-left: 2%;
}

div.instituto {
    width: 100%;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    section#login img, section#registro img {
        width: 22%;
        position: absolute;
        top: -15%;
        left: 40%;
    }

    section#login, section#registro {
        width: 65%;
        left: 17%;
    }

}

@media only screen and (max-width: 650px) {    
    section#login, section#registro {
        width: 75%;
        left: 13%;
    }

    section#login img, section#registro img {
        width: 20%;
        position: absolute;
        top: -15%;
        left: 40%;
    }

}

@media only screen and (max-width: 550px) {
    section.post {
        width: 80%;
        margin-left: 10%;
    }

    section#login, section#registro {
        width: 90%;
        left: 5%;
    }

    section#login img, section#registro img {
        width: 22%;
        position: absolute;
        top: -17%;
        left: 40%;
    }

}

@media only screen and (max-width: 425px) {
    section.post {
        width: 80%;
        margin-left: 10%;
    }

    section#login, section#registro {
        width: 90%;
        left: 5%;
    }

    section#login img, section#registro img {
        width: 25%;
        position: absolute;
        top: -17%;
        left: 35%;
    }

}

@media only screen and (max-width: 375px) {
    section.post {
        width: 80%;
        margin-left: 10%;
    }

    section#login, section#registro {
        width: 90%;
        left: 5%;
    }

    section#login img, section#registro img {
        width: 30%;
        position: absolute;
        top: -17%;
        left: 34%;
    }

}

@media only screen and (max-width: 350px) {
    a.btn {
        margin-top: 2.5%;
    }
}